<!DOCTYPE html>
<html style="width: 100%; height: 100%; margin: 0">
<head>
    <!-- This file will be copied into "./dist/index.html" when running on codesandbox.io environment -->
    <title>Redirect to project page</title>
</head>
<body style="width: 100%; height: 100%; margin: 0">
    Redirecting to project page...
	<script type="text/javascript">
		'use strict';

        let embedUrl = `${window.location.protocol}//${window.location.host}/embed.html`;
        let queryString = window.location.search ? `&${window.location.search.substr(1)}` : '';

        window.location = `https://helloeko.com/dev?url=${encodeURIComponent(embedUrl)}&autoplay=true${queryString}`
	</script>
</body>
</html>
